@import "../../../styles/baseline/_styles";

.modal-bullet {
  padding: 60px 40px 40px;
  max-height: 80vh;

  @include respond-to($bp-md) {
    padding-right: 20px;
  }
}

.title {
  margin-bottom: 32px;
  text-transform: uppercase;
}

.markdown {
  font-family: $font-primary;

  p {
    margin-bottom: 24px;

    &:last-of-type {
      margin-bottom: initial;
    }
  }
}

.description {
  @include respond-to($bp-md) {
    max-height: 60vh;
    overflow: auto;
    padding-right: 20px;

    &::-webkit-scrollbar {
      width: 4px;
      background: rgba(90, 137, 178, 0.25);
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #5A89B3;
      border-radius: 50px;
    }  
  }
}