@import "../../../styles/baseline/_styles";

.trivia-item {
  padding: 5px;
  border: 1px solid #A7CBEC;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.index {
  width: 31px;
  height: 31px;
  background-color: #6EB1ED;
  color: $color-white !important;
  font-weight: $bold;
  font-family: $font-primary;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: rem-calc(14);
  margin-left: 16px;
  font-family: $font-primary;
}