@import "../../../styles/baseline/_styles";

.menu {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-primary;
  z-index: 10;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 16px 0;
  transition: $global-transition;
  overflow: hidden;

  @include respond-to($bp-lg) {
    position: fixed;
    max-height: 97px;
    height: 100vh;
    border-bottom: initial;
  }

  &.active {
    @include respond-to($bp-lg) {
      max-height: 100vh;
    }

    .menu-items {
      @include respond-to($bp-lg) {
        transform: initial;
        opacity: 1;
        z-index: initial;
      }
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: none;
  cursor: pointer;

  @include respond-to($bp-lg) {
    display: block;
  }
}

.menu-items {
  transition: $global-transition;

  @include respond-to($bp-lg) {
    transform: translateY(-10px);
    position: absolute;
    width: 100%;
    top: 120px;
    left: 0;
    opacity: 0;
    z-index: -10;
    padding: 0 25px;
  }
}