@import "../../../styles/baseline/_styles";

.menu {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 14px 0;
  transition: $global-transition;
  overflow: hidden;
  
  &.primary {
    background-color: $color-primary;
  }

  &.tertiary {
    background-color: $color-green;
  }

  @include respond-to($bp-lg) {
    position: fixed;
    max-height: 124px;
    height: 100vh;
    border-bottom: initial;
    padding: 30px 0;
  }

  &.active {
    @include respond-to($bp-lg) {
      max-height: 100vh;
    }

    .menu-items {
      @include respond-to($bp-lg) {
        transform: initial;
        opacity: 1;
      }
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  display: none;
  cursor: pointer;

  @include respond-to($bp-lg) {
    display: block;
  }
}

.menu-items {
  transition: $global-transition;

  @include respond-to($bp-lg) {
    transform: translateY(30px);
    padding-top: 30px;
    width: 100%;
    opacity: 0;
  }
}