@import "../../../styles/baseline/_styles";

.trivia {
  position: relative;
}

.question {
  font-size: rem-calc(18);
  margin-bottom: 30px;
  font-weight: $bold;
  font-family: $font-primary;
}

.title {
  margin-bottom: 24px;
  font-size: rem-calc(22);
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.items {
  display: grid;
  gap: 16px;
  margin-bottom: 34px;
}

.helper {
  background-color: #F5F5F5;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 32px;
}

.helper-text {
  font-family: $font-primary;
  color: $color-black-2 !important;
}

.index {
  text-align: center;
  position: absolute;
  bottom: -82px;
  width: 100%;

  p {
    font-size: rem-calc(24);
    font-family: $font-primary;
    font-weight: $regular;
  }

  bold {
    font-weight: $heavy;
  }
}

.prev {
  left: -80px !important;
}

.next {
  right: -80px !important;
}