@import "../../../styles/baseline/_styles";

.aliquot {
  padding: 70px 0;
}

.text-container {
  margin-bottom: 68px;

  @include respond-to($bp-md) {
    margin-bottom: 40px;
  }
}

.slider-container {
  margin-bottom: 20px;
}

.slider-heading {
  margin-bottom: 67px;
  display: flex;
  justify-content: space-between;
  position: relative;

  @include respond-to($bp-md) {
    flex-direction: column;
  }
}

.slider-sections {
  max-width: max-content;
  position: relative;

  @include respond-to($bp-md) {
    order: 2;
    padding-top: 80px;
    display: flex;
    overflow-x: scroll;
    
    &::-webkit-scrollbar {
      opacity: 0;
    }

    &::-webkit-scrollbar-thumb {
      opacity: 0;  
    }
  }
}

.slider-section {
  font-size: rem-calc(12);
  line-height: rem-calc(18);
  letter-spacing: 1px;
  font-weight: $bold;
  color: #959595;
  padding: 8px 16px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  border-bottom: 1px solid #C8C8C8;
  transition: $global-transition;

  &:first-of-type {
    margin-left: initial;
  }

  &:last-of-type {
    margin-right: initial;
  }
  
  &.active {
    color: $color-secondary;
  }

  @include respond-to($bp-md) {
    min-width: max-content;
  }
}

.line {
  height: 2px;
  background-color: $color-secondary;
  position: absolute;
  bottom: 0;
  transition: $global-transition;
}

.cta-container {
  @include respond-to($bp-md) {
    text-align: center;
  }
}

.select-category {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;

  @include respond-to($bp-md) {
    width: 100%;
  }
}