// color abstractions
$color-white: #FFFFFF;
$color-black: #000000;
$color-black-2: #333333;

$color-primary: #2E7DC3;
$color-secondary: #0B4E89;
$color-tertiary: #50D7B6;

$color-dark-blue: #0C4373;
$color-blue-light: #D0E9FF;
$color-blue-light-2: #2E7DC4;
$color-blue-light-3: #115FAC;
$color-blue-light-4: #F1F9FF;
$color-green: #38BF9F;
$color-green-light: #81F3D8;
$color-green-light-2: #EDFFFB;
$color-dark-green: #32AC8F;
$color-peach: #FFF5EC;
$color-red: #F5385E;
$color-red-light: #FFF4F7;
$color-gray: #E6E6E6;
$color-yellow: #FF8B31;