// Constants - Font Families
$font-primary: 'Roboto', Calibri, Tahoma, Sans-Serif; 
$font-secondary: 'TRYVesterbro', Calibri, Tahoma, Sans-Serif; 
$font-tertiary: 'Ubuntu', Calibri, Tahoma, Sans-Serif; 

// Constants - Font Weights
$heavy: 900;
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
$light: 300;