@import "../../../styles/baseline/_styles";

.button {
  font-family: $font-tertiary;
  font-size: rem-calc(14);
  line-height: rem-calc(30);
  font-weight: $bold;
  padding: 16px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: initial;
  transition: $global-transition;

  svg {
    margin-left: 10px;

    path {
      transition: $global-transition;
      fill: $color-white;
    }
  }

  // Solid
  &.solid {
    &:hover {
      opacity: .8;
    }


    &.primary {
      background-color: $color-primary;
      color: $color-white;
    }

    &.secondary {
      background-color: $color-secondary;
      color: $color-white;
    }

    &.tertiary {
      background-color: $color-tertiary;
      color: $color-white;
    }

    &.white {
      background-color: $color-white;
      color: $color-primary;

      svg {
        path {
          fill: $color-primary;
        }
      }
    }
  }

  // Outline
  &.outline {
    background-color: transparent;
    
    &.primary {
      color: $color-primary;
      border: 1px solid rgba(168, 214, 255, 0.4);

      svg {
        path {
          fill: $color-primary;
        }
      }

      &:hover {
        background-color: $color-primary;
        border-color: $color-primary;
        color: $color-white;
  
        svg {
          path {
            fill: $color-white;
          }
        }
      }
    }

    &.secondary {
      color: $color-secondary;
      border: 1px solid $color-secondary;

      svg {
        path {
          fill: $color-secondary;
        }
      }

      &:hover {
        background-color: $color-secondary;
        border-color: $color-secondary;
        color: $color-white;
  
        svg {
          path {
            fill: $color-white;
          }
        }
      }
    }

    &.tertiary {
      color: $color-tertiary;
      border: 1px solid $color-tertiary;

      svg {
        path {
          fill: $color-tertiary;
        }
      }

      &:hover {
        background-color: $color-tertiary;
        border-color: $color-tertiary;
        color: $color-white;
  
        svg {
          path {
            fill: $color-white;
          }
        }
      }
    }
  }
  
  // Outline white
  &.outline-white {
    border: 1px solid $color-white;
    color: $color-white;
    background-color: transparent;

    a {
      color: $color-white;
      transition: $global-transition;
    }
  
    &.primary {
      &:hover {
        background-color: $color-white;
        color: $color-primary;
  
        svg {
          path {
            fill: $color-primary;
          }
        }

        a {
          color: $color-primary;
        }
      }
    }
  
    &.secondary {
      &:hover {
        background-color: $color-white;
        color: $color-secondary;
  
        svg {
          path {
            fill: $color-secondary;
          }
        }
      }
    }
  
    &.tertiary {
      &:hover {
        background-color: $color-white;
        color: $color-tertiary;
  
        svg {
          path {
            fill: $color-tertiary;
          }
        }
      }
    }
  }
}