@import "../../../styles/baseline/_styles";

.hero {
  background-color: $color-blue-light-2;
  padding: 56px 0 88px;

  @include respond-to($bp-lg) {
    padding: 150px 0 80px;
  }
}

.container {
  display: grid;
  grid-template-columns: 602px 1fr;
  gap: 90px;
  justify-content: space-between;
  align-items: center;

  @include respond-to($bp-lg) {
    grid-template-columns: 1fr;
  }
}

.title {
  margin-bottom: 24px;
  font-weight: $light;

  strong {
    font-weight: $heavy;
  }

  @include respond-to($bp-lg) {
    text-align: center;
    margin-bottom: 16px;
  }
}

.description {
  margin-bottom: 60px;
  font-weight: $regular;

  @include respond-to($bp-lg) {
    text-align: center;
    margin-bottom: 40px;
  }
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  @include respond-to($bp-lg) {
    justify-content: center;
  }

  a {
    padding: initial !important;
  }
}

.img-container {
  @include respond-to($bp-lg) {
    display: none;
  }
}