@import "../../../styles/baseline/_styles";

.modal-big-graphic {
  padding: 59px 72px;

  @include respond-to($bp-md) {
    padding: 44px 14px;
  }
}

.modal {
  position: absolute;
  background-color: $color-white;
  border: initial;
  max-width: 1000px;
}

.content {
  background: rgba(168, 214, 255, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 24px 23px;
  align-items: center;

  @include respond-to($bp-md) {
    flex-direction: column;
    padding: 24px 10px;
  }
}
