@import "../../../styles/baseline/_styles";

.description {
  font-family: $font-primary;
  margin-bottom: 40px;
}

.title {
  margin-bottom: 24px;
  font-size: rem-calc(22);
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.buttons {
  display: flex;
  gap: 16px;

  @include respond-to($bp-md) {
    flex-direction: column;
  }
}