@import "../../../styles/baseline/_styles";

.aliquot-archive {
  padding: 40px 0 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.categories-container {
  display: flex;
  justify-content: space-between;
  position: relative;

  @include respond-to($bp-md) {
    flex-direction: column;
  }
}

.categories-type-container {
  border-bottom: 1px solid #C8C8C8;

  @include respond-to($bp-md) {
    order: 2;
    padding-top: 70px;
  }
}

.select-category {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  @include respond-to($bp-md) {
    width: 100%;
  }
}

.category {
  font-size: rem-calc(12);
  line-height: rem-calc(18);
  letter-spacing: 1px;
  font-weight: $bold;
  color: #959595;
  padding: 8px 0;
  margin: 0 16px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;

  &:first-of-type {
    margin-left: initial;
  }

  &:last-of-type {
    margin-right: initial;
  }
  
  &.active {
    color: $color-secondary;
    border-bottom: 2px solid $color-secondary;
  }
}

.active {
  color: $color-secondary;

}