@import "../../../styles/baseline/_styles";

.aliquot-archive {
  padding: 40px 0 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.categories-container {
  display: flex;
  border-bottom: 1px solid #C8C8C8;
  max-width: max-content;
  margin-right: auto;
}

.category {
  // font-size: rem-calc(12);
  // line-height: rem-calc(18);
  // letter-spacing: 1px;
  // color: #959595;
  // text-transform: uppercase;
  // font-weight: $bold;
  // cursor: pointer;

  font-size: rem-calc(12);
  line-height: rem-calc(18);
  letter-spacing: 1px;
  font-weight: $bold;
  color: #959595;
  padding: 8px 0;
  margin: 0 16px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;

  &:first-of-type {
    margin-left: initial;
  }

  &:last-of-type {
    margin-right: initial;
  }
  
  &.active {
    color: $color-secondary;
    border-bottom: 2px solid $color-secondary;
  }
}

.active {
  color: $color-secondary;

}