@import "../../../styles/baseline/_styles";

.container {
  max-width: 1260px;
  padding: 0 30px;
  margin: 0 auto;
  width: 100%;

  @include respond-to($bp-md) {
    padding: 0 16px;
  }

  &.right {
    max-width: calc(((100% - 1260px) / 2) + 1260px);
    margin-right: 0;
    padding-right: initial;
  }

  &.left {
    max-width: calc(((100% - 1260px) / 2) + 1260px);
    margin-left: 0;
    padding-left: initial;
  }
}

