// Roboto
@font-face {
	font-family: Roboto;
	src: url("../assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	src: url("../assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	src: url("../assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	src: url("../assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	src: url("../assets/fonts/roboto/Roboto-Black.ttf") format("truetype");
	font-weight: 900;
	font-display: swap;
}

// TRY Vesterbro
@font-face {
	font-family: 'TRYVesterbro';
	src: url("../assets/fonts/try-vesterbro/TRYVesterbro-Light.otf") format("truetype");
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'TRYVesterbro';
	src: url("../assets/fonts/try-vesterbro/TRYVesterbro-Regular.otf") format("truetype");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'TRYVesterbro';
	src: url("../assets/fonts/try-vesterbro/TRYVesterbro-Medium.otf") format("truetype");
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'TRYVesterbro';
	src: url("../assets/fonts/try-vesterbro/TRYVesterbro-Extrabold.otf") format("truetype");
	font-weight: 800;
	font-display: swap;
}

@font-face {
	font-family: 'TRYVesterbro';
	src: url("../assets/fonts/try-vesterbro/TRYVesterbro-Bold.otf") format("truetype");
	font-weight: 700;
	font-display: swap;
}

// Ubuntu
@font-face {
	font-family: 'Ubuntu';
	src: url("../assets/fonts/ubuntu/Ubuntu-Light.ttf") format("truetype");
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu';
	src: url("../assets/fonts/ubuntu/Ubuntu-Regular.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu';
	src: url("../assets/fonts/ubuntu/Ubuntu-Medium.ttf") format("truetype");
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu';
	src: url("../assets/fonts/ubuntu/Ubuntu-Bold.ttf") format("truetype");
	font-weight: 700;
	font-display: swap;
}

// Global
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Calibri, Tahoma, Sans-Serif; 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	font-family: 'Roboto', Calibri, Tahoma, Sans-Serif; // NOTE:: if this changes, update _typography heading classes as well
}

p {
  margin: initial;
}

// React Modal
.ReactModalPortal {
	z-index: 999999999999999;
	position: relative;
}

.ReactModal {
	&__Content {
		width: 100%;
		max-width: 794px;
		box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
		border-radius: 10px !important;
		top: 50% !important; 
    left: 50% !important; 
    right: auto !important; 
    bottom: auto !important; 
    margin-right: -50% !important; 
    transform: translate(-50%, -50%) !important; 
		border: initial !important;
		padding: initial !important;
		overflow-y: auto !important;
		overflow-x: hidden !important;
		max-height: 90vh;

		@media screen and (max-width: 900px) {
			max-width: calc(100% - 20px)
		}

		
		&::-webkit-scrollbar {
			width: 4px;
			background: rgba(90, 137, 178, 0.25);
		}
	
		&::-webkit-scrollbar-thumb {
			background-color: #5A89B3;
			border-radius: 50px;
		}
	}

	&__Overlay {
		height: 100vh;
		opacity: 0;
		transition: opacity 200ms ease-in-out;
		background-color: rgba(0, 0, 0, .6) !important;

		&--after-open {
			opacity: 1;
		}

		&--before-close {
			opacity: 0;
		}
	}
}

// Swiper
.swiper-button-next,
.swiper-button-prev {
	transform: translateY(50%);
	background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 14.5px !important;
  height: 24px !important;

  &:after {
    display: none !important;
  }
}

.swiper-button-prev {
  left: -50px !important;
  background-image: url('/img/icons/prev-modal.svg');
}

.swiper-button-next {
	right: -50px !important;
  background-image: url('/img/icons/next-modal.svg');
}

// Leaftel
.leaflet-control-zoom {
	background: #ffffff;
	box-shadow: 1px 8px 16px 4px rgba(17, 95, 172, 0.08) !important;
	border-radius: 10px !important;
	border: initial !important;
	overflow: hidden !important;
	margin-top: 24px !important;
	margin-left: 36px !important;

	.leaflet-control-zoom-in,
	.leaflet-control-zoom-out {
		color: #115FAC !important;
		width: 36px !important;
	}
}

.leaflet-container {
	z-index: 1;
}

.leaflet-control-attribution {
	display: none !important;
}

.leaflet-popup {
	.leaflet-popup-content {
		display: flex;
		align-items: center;
		gap: 6px;

		p {
			font-family: 'Roboto';
			margin: initial;
			font-size: rem-calc(14);
			line-height: rem-calc(18.2);
			letter-spacing: 2px;
			text-transform: uppercase;
			font-weight: 700;
			color: #115FAC;
		}
	}

	.leaflet-popup-close-button {
		display: none;
	}
}