@import "../../../styles/baseline/_styles";

.map-tax-havens {
  padding: 40px 0 10px;
}

.heading-container {
  margin-bottom: 32px;
}

.content {
  display: grid;
  grid-template-columns: 305px 1fr;
  border-radius: 10px;

  @include respond-to($bp-md) {
    grid-template-columns: 1fr;
    padding: initial;
  }
}

.map {
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  min-height: 590px;
  height: 590px;

  @include respond-to($bp-md) {
    height: calc(100vh - 290px);
    min-height: calc(100vh - 290px);
    width: 100%;
    border-radius: initial;
  }
}

.select-container {
  @include respond-to($bp-md) {
    position: relative;
    padding-bottom: 50px;
    margin-top: 30px;
  }
}

.sidebar-container {
  height: 100%;

  @include respond-to($bp-md) {
    display: none;
  }
}