@import "../../../styles/baseline/_styles";

.modal-trivia {
  height: 100%;
  padding: 50px 20px 40px 40px;
  position: relative;

  @include respond-to($bp-md) {
    padding: 40px 15px 30px 30px;
  }
}

.title {
  margin-bottom: 24px;
  font-size: rem-calc(22);
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
}